dev/Legacy/ToCleanup/Applications.Test/SAHL.Web.Services.Test/SAHL.Web.Services.Test/Service References/AttorneyService/Attorney.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAHL.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAHL.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceMessages" nillable="true" type="tns:ArrayOfServiceMessage" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponse" nillable="true" type="tns:ServiceResponse" />
  <xs:complexType name="ArrayOfServiceMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceMessage" nillable="true" type="tns:ServiceMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceMessage" nillable="true" type="tns:ArrayOfServiceMessage" />
  <xs:complexType name="ServiceMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceMessage" nillable="true" type="tns:ServiceMessage" />
</xs:schema>