dev/Legacy/Applications/SAHL.Web.Services/SAHL.Web.Services.Public/SAHL.Web.Services.Public/Service References/ValuationServiceInternal/Valuation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Valuation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SAHL.Web.Services.Internal/Valuation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SAHL.Web.Services.Internal/Valuation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SAHL.Web.Services.Internal/Valuation.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IValuation_SubmitCompletedValuationLightstone_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitCompletedValuationLightstone" />
  </wsdl:message>
  <wsdl:message name="IValuation_SubmitCompletedValuationLightstone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitCompletedValuationLightstoneResponse" />
  </wsdl:message>
  <wsdl:message name="IValuation_SubmitRejectedValuationLightstone_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitRejectedValuationLightstone" />
  </wsdl:message>
  <wsdl:message name="IValuation_SubmitRejectedValuationLightstone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitRejectedValuationLightstoneResponse" />
  </wsdl:message>
  <wsdl:message name="IValuation_SubmitAmendedValuationLightstone_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAmendedValuationLightstone" />
  </wsdl:message>
  <wsdl:message name="IValuation_SubmitAmendedValuationLightstone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAmendedValuationLightstoneResponse" />
  </wsdl:message>
  <wsdl:portType name="IValuation">
    <wsdl:operation name="SubmitCompletedValuationLightstone">
      <wsdl:input wsaw:Action="http://tempuri.org/IValuation/SubmitCompletedValuationLightstone" message="tns:IValuation_SubmitCompletedValuationLightstone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValuation/SubmitCompletedValuationLightstoneResponse" message="tns:IValuation_SubmitCompletedValuationLightstone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitRejectedValuationLightstone">
      <wsdl:input wsaw:Action="http://tempuri.org/IValuation/SubmitRejectedValuationLightstone" message="tns:IValuation_SubmitRejectedValuationLightstone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValuation/SubmitRejectedValuationLightstoneResponse" message="tns:IValuation_SubmitRejectedValuationLightstone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAmendedValuationLightstone">
      <wsdl:input wsaw:Action="http://tempuri.org/IValuation/SubmitAmendedValuationLightstone" message="tns:IValuation_SubmitAmendedValuationLightstone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValuation/SubmitAmendedValuationLightstoneResponse" message="tns:IValuation_SubmitAmendedValuationLightstone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IValuation" type="tns:IValuation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitCompletedValuationLightstone">
      <soap:operation soapAction="http://tempuri.org/IValuation/SubmitCompletedValuationLightstone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRejectedValuationLightstone">
      <soap:operation soapAction="http://tempuri.org/IValuation/SubmitRejectedValuationLightstone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAmendedValuationLightstone">
      <soap:operation soapAction="http://tempuri.org/IValuation/SubmitAmendedValuationLightstone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Valuation">
    <wsdl:port name="BasicHttpBinding_IValuation" binding="tns:BasicHttpBinding_IValuation">
      <soap:address location="http://localhost/SAHL.Web.Services.Internal/Valuation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>