dev/Testing/SAHL.Testing.ServiceMocks/SAHL.Testing.Livereplies.Mock/xsd/LiveRepliesReply.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ProcessBankLiveReplies.Reply">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Service.Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Reply.DateTime">
								<xs:simpleType>
									<xs:restriction base="xs:dateTime" />
								</xs:simpleType>
							</xs:element>
							<xs:element name="Service.Result">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger" />
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>