dev/Testing/SAHL.Testing.Services/SAHL.Testing.ComcorpServices.Tests/Service References/Connector/SAHLIntegrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost/ImagingApplicationRequest.xsd" elementFormDefault="qualified" targetNamespace="http://localhost/ImagingApplicationRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ComcorpConnectorService/SAHLIntegrationService.svc?xsd=xsd4" namespace="http://localhost/ImagingMainApplicantRequest.xsd" />
  <xs:element name="Request.Header" type="tns:ApplicationHeaderType" />
  <xs:complexType name="ApplicationHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:headerType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element xmlns:q1="http://localhost/ImagingMainApplicantRequest.xsd" minOccurs="1" maxOccurs="1" name="Request.Action" type="q1:headerTypeRequestAction" />
      <xs:element minOccurs="0" maxOccurs="1" name="Request.Mac" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Application.Reference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bank.Reference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Imaging.Reference" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Request.Messages" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Request.DateTime" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Service.Version" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bank.Custom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supporting.Documents" type="tns:ApplicationSupportingDocuments" />
  <xs:complexType name="ApplicationSupportingDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Application.Documents" type="tns:ArrayOfDocumentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDocumentType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supporting.Document" type="tns:documentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Document.Reference" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Document.Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Document.Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Document.Comments" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Document.Image" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>