dev/Services/Communications.Server/SAHL.Services.Communications/Service References/ComcorpLiveRepliesService/LiveRepliesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.comcorplivereplies.com/Comcorp.LiveReplies/LiveRepliesService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.comcorplivereplies.com/Comcorp.LiveReplies/LiveRepliesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.comcorplivereplies.com/Comcorp.LiveReplies/LiveRepliesService">
      <s:element name="ProcessBankLiveReplies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessBankLiveRepliesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessBankLiveRepliesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessBankLiveRepliesSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessBankLiveReplies" />
  </wsdl:message>
  <wsdl:message name="ProcessBankLiveRepliesSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessBankLiveRepliesResponse" />
  </wsdl:message>
  <wsdl:portType name="LiveRepliesServiceSoap">
    <wsdl:operation name="ProcessBankLiveReplies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Receives a Live Reply from the bank.</wsdl:documentation>
      <wsdl:input message="tns:ProcessBankLiveRepliesSoapIn" />
      <wsdl:output message="tns:ProcessBankLiveRepliesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiveRepliesServiceSoap" type="tns:LiveRepliesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessBankLiveReplies">
      <soap:operation soapAction="http://www.comcorplivereplies.com/Comcorp.LiveReplies/LiveRepliesService/ProcessBankLiveReplies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveRepliesServiceSoap12" type="tns:LiveRepliesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessBankLiveReplies">
      <soap12:operation soapAction="http://www.comcorplivereplies.com/Comcorp.LiveReplies/LiveRepliesService/ProcessBankLiveReplies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveRepliesService">
    <wsdl:port name="LiveRepliesServiceSoap" binding="tns:LiveRepliesServiceSoap">
      <soap:address location="https://preprod.comcorponline.co.za/Comcorp.LiveReplies/LiveRepliesService.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveRepliesServiceSoap12" binding="tns:LiveRepliesServiceSoap12">
      <soap12:address location="https://preprod.comcorponline.co.za/Comcorp.LiveReplies/LiveRepliesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>