dev/Services/Communications.Server/SAHL.Services.Communications/ExternalServices/Notification/gviSmsMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gviSmsMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="affiliateCode" type="xs:string" />
        <xs:element name="authenticationCode" type="xs:string" />
        <xs:element name="submitDateTime" type="xs:string" />
        <xs:element name="messageType" type="xs:string" />
        <xs:element name="recipientList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message" type="xs:string" />
              <xs:element name="recipient">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="msisdn" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="transmissionRules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transmitDateTime" type="xs:string" />
              <xs:element name="transmitPeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="startHour" type="xs:string" />
                    <xs:element name="endHour" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>