dev/WCFServices/ComcorpConnector.Server/src/SAHL.WCFServices.ComcorpConnector.Console/Service References/SAHLIntegration/SAHLIntegrationService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SAHLComcorpConnectorService/SAHLIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAHL.WCFServices.ComcorpConnector.Objects" />
  <xs:import schemaLocation="http://localhost/SAHLComcorpConnectorService/SAHLIntegrationService.svc?xsd=xsd3" namespace="http://localhost/ImagingApplicationRequest.xsd" />
  <xs:import schemaLocation="http://localhost/SAHLComcorpConnectorService/SAHLIntegrationService.svc?xsd=xsd5" namespace="http://localhost/ImagingReplyStatus.xsd" />
  <xs:import schemaLocation="http://localhost/SAHLComcorpConnectorService/SAHLIntegrationService.svc?xsd=xsd4" namespace="http://localhost/ImagingMainApplicantRequest.xsd" />
  <xs:import schemaLocation="http://localhost/SAHLComcorpConnectorService/SAHLIntegrationService.svc?xsd=xsd7" namespace="http://localhost/ImagingCoApplicantRequest.xsd" />
  <xs:element name="SAHLRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAHL.WCFServices.ComcorpConnector.Objects" minOccurs="0" name="Application" nillable="true" type="q1:Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SAHLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SAHLReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessApplicationMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ImagingApplicationRequest" type="tns:ImagingApplicationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ImagingApplicationRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://localhost/ImagingApplicationRequest.xsd" minOccurs="0" maxOccurs="1" ref="q2:Request.Header" />
      <xs:element xmlns:q3="http://localhost/ImagingApplicationRequest.xsd" minOccurs="0" maxOccurs="1" ref="q3:Supporting.Documents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessApplicationMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://localhost/ImagingReplyStatus.xsd" minOccurs="0" maxOccurs="1" name="ProcessApplicationMessageResult" type="q4:SupportingDocumentsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMainApplicantMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ImagingMainApplicantRequest" type="tns:ImagingMainApplicantRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ImagingMainApplicantRequest">
    <xs:sequence>
      <xs:element xmlns:q5="http://localhost/ImagingMainApplicantRequest.xsd" minOccurs="0" maxOccurs="1" ref="q5:Request.Header" />
      <xs:element xmlns:q6="http://localhost/ImagingMainApplicantRequest.xsd" minOccurs="0" maxOccurs="1" ref="q6:Supporting.Documents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessMainApplicantMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://localhost/ImagingReplyStatus.xsd" minOccurs="0" maxOccurs="1" name="ProcessMainApplicantMessageResult" type="q7:SupportingDocumentsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCoApplicantMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ImagingCoApplicantRequest" type="tns:ImagingCoApplicantRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ImagingCoApplicantRequest">
    <xs:sequence>
      <xs:element xmlns:q8="http://localhost/ImagingCoApplicantRequest.xsd" minOccurs="0" maxOccurs="1" ref="q8:Request.Header" />
      <xs:element xmlns:q9="http://localhost/ImagingCoApplicantRequest.xsd" minOccurs="0" maxOccurs="1" ref="q9:Supporting.Documents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessCoApplicantMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://localhost/ImagingReplyStatus.xsd" minOccurs="0" maxOccurs="1" name="ProcessCoApplicantMessageResult" type="q10:SupportingDocumentsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>