dev/WCFServices/ComcorpConnector.Server/src/SAHL.WCFServices.ComcorpConnector.Console/Service References/SAHLIntegration/SAHLIntegrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost/ImagingReplyStatus.xsd" elementFormDefault="qualified" targetNamespace="http://localhost/ImagingReplyStatus.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SupportingDocumentsReply">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Reply.Header" type="tns:ReplyHeaderType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Request.Errors" type="tns:errorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReplyHeaderType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Application.Reference" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Imaging.Reference" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Reply.DateTime" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Service.Version" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Request.Status" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Error.Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>