dev/Services/DomainProcessManagerProxy.Server/SAHL.Services.DomainProcessManagerProxy/Service References/DpmServiceReference/DomainProcessManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAHL.DomainProcessManager.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAHL.DomainProcessManager.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/SAHL/Services/DomainProcessManager?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" />
  <xs:complexType name="ApplicationCreationReturnDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationCreationReturnDataModel" nillable="true" type="tns:ApplicationCreationReturnDataModel" />
  <xs:complexType name="AddressModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="AddressFormat" type="q1:AddressFormat" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="AddressType" type="q2:AddressType" />
      <xs:element minOccurs="0" name="BoxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeText1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeText2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeText3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeText4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeText5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDomicilium" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostNetSuiteNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOffice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressModel" nillable="true" type="tns:AddressModel" />
  <xs:complexType name="ApplicationMailingAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressModel" />
      <xs:element minOccurs="0" name="ApplicationNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ClientToUseForEmailCorrespondence" nillable="true" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="CorrespondenceLanguage" type="q3:CorrespondenceLanguage" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="CorrespondenceMedium" type="q4:CorrespondenceMedium" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="OnlineStatementFormat" type="q5:OnlineStatementFormat" />
      <xs:element minOccurs="0" name="OnlineStatementRequired" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationMailingAddressModel" nillable="true" type="tns:ApplicationMailingAddressModel" />
  <xs:complexType name="EmploymentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasicIncome" type="xs:double" />
      <xs:element minOccurs="0" name="Employer" nillable="true" type="tns:EmployerModel" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="EmploymentStatus" type="q6:EmploymentStatus" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="EmploymentType" type="q7:EmploymentType" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="RemunerationType" type="q8:RemunerationType" />
      <xs:element minOccurs="0" name="SalaryPaymentDay" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmploymentModel" nillable="true" type="tns:EmploymentModel" />
  <xs:complexType name="EmployerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="EmployerBusinessType" type="q9:EmployerBusinessType" />
      <xs:element minOccurs="0" name="EmployerKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmployerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="EmploymentSector" type="q10:EmploymentSector" />
      <xs:element minOccurs="0" name="TelephoneCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployerModel" nillable="true" type="tns:EmployerModel" />
  <xs:complexType name="FreeTextAddressModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FreeTextAddressModel" nillable="true" type="tns:FreeTextAddressModel" />
  <xs:complexType name="NewPurchaseApplicationCreationModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicationCreationModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Deposit" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoanAmountRequired" type="xs:decimal" />
          <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="SellerIDNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewPurchaseApplicationCreationModel" nillable="true" type="tns:NewPurchaseApplicationCreationModel" />
  <xs:complexType name="ApplicationCreationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applicants" nillable="true" type="tns:ArrayOfApplicantModel" />
      <xs:element minOccurs="0" name="ApplicationDebitOrder" nillable="true" type="tns:ApplicationDebitOrderModel" />
      <xs:element minOccurs="0" name="ApplicationMailingAddress" nillable="true" type="tns:ApplicationMailingAddressModel" />
      <xs:element minOccurs="0" name="ApplicationSourceKey" nillable="true" type="xs:int" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="ApplicationStatus" type="q11:OfferStatus" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="ApplicationType" type="q12:OfferType" />
      <xs:element minOccurs="0" name="ComcorpApplicationPropertyDetail" nillable="true" type="tns:ComcorpApplicationPropertyDetailsModel" />
      <xs:element minOccurs="0" name="ConsultantFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultantSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedPropertyValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="NamePropertyRegistered" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="OriginationSource" type="q13:OriginationSource" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="Product" type="q14:Product" />
      <xs:element minOccurs="0" name="PropertyAddress" nillable="true" type="tns:PropertyAddressModel" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Term" type="xs:int" />
      <xs:element minOccurs="0" name="TransferAttorney" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationCreationModel" nillable="true" type="tns:ApplicationCreationModel" />
  <xs:complexType name="ArrayOfApplicantModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantModel" nillable="true" type="tns:ApplicantModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantModel" nillable="true" type="tns:ArrayOfApplicantModel" />
  <xs:complexType name="ApplicantModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddressModel" />
      <xs:element minOccurs="0" name="Affordabilities" nillable="true" type="tns:ArrayOfApplicantAffordabilityModel" />
      <xs:element minOccurs="0" name="ApplicantAssetLiabilities" nillable="true" type="tns:ArrayOfApplicantAssetLiabilityModel" />
      <xs:element minOccurs="0" name="ApplicantDeclarations" nillable="true" type="tns:ArrayOfApplicantDeclarationsModel" />
      <xs:element minOccurs="0" name="ApplicantMarketingOptions" nillable="true" type="tns:ArrayOfApplicantMarketingOptionModel" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="ApplicantRoleType" type="q15:LeadApplicantOfferRoleTypeEnum" />
      <xs:element minOccurs="0" name="BankAccounts" nillable="true" type="tns:ArrayOfBankAccountModel" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="CitizenshipType" type="q16:CitizenType" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="CorrespondenceLanguage" type="q17:CorrespondenceLanguage" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="Education" type="q18:Education" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employments" nillable="true" type="tns:ArrayOfEmploymentModel" />
      <xs:element minOccurs="0" name="FaxCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="Gender" type="q19:Gender" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="HomeLanguage" type="q20:Language" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhoneCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncomeContributor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="MaritalStatus" type="q21:MaritalStatus" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="PopulationGroup" type="q22:PopulationGroup" />
      <xs:element minOccurs="0" name="PreferredName" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="Salutation" type="q23:SalutationType" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPhoneCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantModel" nillable="true" type="tns:ApplicantModel" />
  <xs:complexType name="ArrayOfAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressModel" nillable="true" type="tns:AddressModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressModel" nillable="true" type="tns:ArrayOfAddressModel" />
  <xs:complexType name="ArrayOfApplicantAffordabilityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantAffordabilityModel" nillable="true" type="tns:ApplicantAffordabilityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantAffordabilityModel" nillable="true" type="tns:ArrayOfApplicantAffordabilityModel" />
  <xs:complexType name="ApplicantAffordabilityModel">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="AffordabilityType" type="q24:AffordabilityType" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantAffordabilityModel" nillable="true" type="tns:ApplicantAffordabilityModel" />
  <xs:complexType name="ArrayOfApplicantAssetLiabilityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantAssetLiabilityModel" nillable="true" type="tns:ApplicantAssetLiabilityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantAssetLiabilityModel" nillable="true" type="tns:ArrayOfApplicantAssetLiabilityModel" />
  <xs:complexType name="ApplicantAssetLiabilityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressModel" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="AssetLiabilitySubType" nillable="true" type="q25:AssetLiabilitySubType" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="AssetLiabilityType" type="q26:AssetLiabilityType" />
      <xs:element minOccurs="0" name="AssetValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cost" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiabilityValue" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantAssetLiabilityModel" nillable="true" type="tns:ApplicantAssetLiabilityModel" />
  <xs:complexType name="ArrayOfApplicantDeclarationsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantDeclarationsModel" nillable="true" type="tns:ApplicantDeclarationsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantDeclarationsModel" nillable="true" type="tns:ArrayOfApplicantDeclarationsModel" />
  <xs:complexType name="ApplicantDeclarationsModel">
    <xs:sequence>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="DeclarationAnswer" type="q27:OfferDeclarationAnswer" />
      <xs:element minOccurs="0" name="DeclarationDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="DeclarationQuestion" type="q28:OfferDeclarationQuestionEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantDeclarationsModel" nillable="true" type="tns:ApplicantDeclarationsModel" />
  <xs:complexType name="ArrayOfApplicantMarketingOptionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantMarketingOptionModel" nillable="true" type="tns:ApplicantMarketingOptionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantMarketingOptionModel" nillable="true" type="tns:ArrayOfApplicantMarketingOptionModel" />
  <xs:complexType name="ApplicantMarketingOptionModel">
    <xs:sequence>
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="GeneralStatus" type="q29:GeneralStatus" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="MarketingOption" type="q30:MarketingOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantMarketingOptionModel" nillable="true" type="tns:ApplicantMarketingOptionModel" />
  <xs:complexType name="ArrayOfBankAccountModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccountModel" nillable="true" type="tns:BankAccountModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccountModel" nillable="true" type="tns:ArrayOfBankAccountModel" />
  <xs:complexType name="BankAccountModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="AccountType" type="q31:ACBType" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDebitOrderBankAccount" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountModel" nillable="true" type="tns:BankAccountModel" />
  <xs:complexType name="ArrayOfEmploymentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmploymentModel" nillable="true" type="tns:EmploymentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmploymentModel" nillable="true" type="tns:ArrayOfEmploymentModel" />
  <xs:complexType name="ApplicationDebitOrderModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccountModel" />
      <xs:element minOccurs="0" name="DebitOrderDay" type="xs:int" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="PaymentType" type="q32:FinancialServicePaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDebitOrderModel" nillable="true" type="tns:ApplicationDebitOrderModel" />
  <xs:complexType name="ComcorpApplicationPropertyDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComplexName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactCellphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamePropertyRegistered" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAHLOccupancyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAHLPropertyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAHLTitleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionalTitleUnitNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerIDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandErfNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComcorpApplicationPropertyDetailsModel" nillable="true" type="tns:ComcorpApplicationPropertyDetailsModel" />
  <xs:complexType name="PropertyAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErfNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErfPortionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDomicilium" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyAddressModel" nillable="true" type="tns:PropertyAddressModel" />
  <xs:complexType name="PostalAddressBoxModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalAddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostalAddressBoxModel" nillable="true" type="tns:PostalAddressBoxModel" />
  <xs:complexType name="PostalAddressModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostalAddressModel" nillable="true" type="tns:PostalAddressModel" />
  <xs:complexType name="PostalAddressClusterBoxModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalAddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostalAddressClusterBoxModel" nillable="true" type="tns:PostalAddressClusterBoxModel" />
  <xs:complexType name="PostalAddressPostnetSuiteModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalAddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostalAddressPostnetSuiteModel" nillable="true" type="tns:PostalAddressPostnetSuiteModel" />
  <xs:complexType name="PostalAddressPrivateBagModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalAddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostalAddressPrivateBagModel" nillable="true" type="tns:PostalAddressPrivateBagModel" />
  <xs:complexType name="PostalAddressStreetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalAddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostalAddressStreetModel" nillable="true" type="tns:PostalAddressStreetModel" />
  <xs:complexType name="PropertyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ResidentialAddressModel" />
      <xs:element minOccurs="0" name="AreaClassificationKey" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentBondDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="DataProvider" nillable="true" type="q33:DataProvider" />
      <xs:element minOccurs="0" name="DeedsOfficeValue" nillable="true" type="xs:double" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="DeedsPropertyType" nillable="true" type="q34:DeedsPropertyType" />
      <xs:element minOccurs="0" name="ErfMetroDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErfNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErfPortionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErfSuburbDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="OccupancyType" type="q35:OccupancyType" />
      <xs:element minOccurs="0" name="PropertyDescription1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyDescription2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyDescription3" nillable="true" type="xs:string" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="PropertyType" type="q36:PropertyType" />
      <xs:element minOccurs="0" name="SectionalSchemeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SectionalUnitNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="TitleType" type="q37:TitleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyModel" nillable="true" type="tns:PropertyModel" />
  <xs:complexType name="ResidentialAddressModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResidentialAddressModel" nillable="true" type="tns:ResidentialAddressModel" />
  <xs:complexType name="SalariedEmploymentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmploymentModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmployeeDeductions" nillable="true" type="tns:ArrayOfEmployeeDeductionModel" />
          <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="SalariedRemunerationType" type="q38:SalariedRemunerationType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalariedEmploymentModel" nillable="true" type="tns:SalariedEmploymentModel" />
  <xs:complexType name="ArrayOfEmployeeDeductionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDeductionModel" nillable="true" type="tns:EmployeeDeductionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDeductionModel" nillable="true" type="tns:ArrayOfEmployeeDeductionModel" />
  <xs:complexType name="EmployeeDeductionModel">
    <xs:sequence>
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="Type" type="q39:EmployeeDeductionTypeEnum" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDeductionModel" nillable="true" type="tns:EmployeeDeductionModel" />
  <xs:complexType name="SalaryDeductionEmploymentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmploymentModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmployeeDeductions" nillable="true" type="tns:ArrayOfEmployeeDeductionModel" />
          <xs:element minOccurs="0" name="HousingAllowance" type="xs:double" />
          <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="SalaryDeductionRemunerationType" type="q40:SalaryDeductionRemunerationType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalaryDeductionEmploymentModel" nillable="true" type="tns:SalaryDeductionEmploymentModel" />
  <xs:complexType name="SwitchApplicationCreationModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicationCreationModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CapitaliseFees" type="xs:boolean" />
          <xs:element minOccurs="0" name="CashOut" type="xs:decimal" />
          <xs:element minOccurs="0" name="CashOutReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstimatedLoan" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExistingLoan" type="xs:decimal" />
          <xs:element minOccurs="0" name="HigherBond" type="xs:decimal" />
          <xs:element minOccurs="0" name="QuickCash" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SwitchApplicationCreationModel" nillable="true" type="tns:SwitchApplicationCreationModel" />
  <xs:complexType name="RefinanceApplicationCreationModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicationCreationModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CapitaliseFees" type="xs:boolean" />
          <xs:element minOccurs="0" name="CashOut" type="xs:decimal" />
          <xs:element minOccurs="0" name="CashOutReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstimatedLoan" type="xs:decimal" />
          <xs:element minOccurs="0" name="HigherBond" type="xs:decimal" />
          <xs:element minOccurs="0" name="QuickCash" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RefinanceApplicationCreationModel" nillable="true" type="tns:RefinanceApplicationCreationModel" />
  <xs:complexType name="PayThirdPartyInvoiceProcessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceCollection" nillable="true" type="tns:ArrayOfPayThirdPartyInvoiceModel" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayThirdPartyInvoiceProcessModel" nillable="true" type="tns:PayThirdPartyInvoiceProcessModel" />
  <xs:complexType name="ArrayOfPayThirdPartyInvoiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayThirdPartyInvoiceModel" nillable="true" type="tns:PayThirdPartyInvoiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayThirdPartyInvoiceModel" nillable="true" type="tns:ArrayOfPayThirdPartyInvoiceModel" />
  <xs:complexType name="PayThirdPartyInvoiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="InstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="SAHLReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StepInProcess" type="tns:PaymentProcessStep" />
      <xs:element minOccurs="0" name="ThirdPartyInvoiceKey" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayThirdPartyInvoiceModel" nillable="true" type="tns:PayThirdPartyInvoiceModel" />
  <xs:simpleType name="PaymentProcessStep">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PreparingWorkflowCase" />
      <xs:enumeration value="PreparingWorkflowCaseFailed" />
      <xs:enumeration value="ReadyForBatching" />
      <xs:enumeration value="BatchingFailed" />
      <xs:enumeration value="ReadyForPostingTransation" />
      <xs:enumeration value="PostingTransactionFailed" />
      <xs:enumeration value="PaymentBatchFailed" />
      <xs:enumeration value="ReadyForArchiving" />
      <xs:enumeration value="ArchivingFailed" />
      <xs:enumeration value="Archived" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentProcessStep" nillable="true" type="tns:PaymentProcessStep" />
  <xs:complexType name="UnemployedEmploymentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmploymentModel">
        <xs:sequence>
          <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SAHL.Core.BusinessModel.Enums" minOccurs="0" name="UnemployedRemunerationType" type="q41:UnemployedRemunerationType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnemployedEmploymentModel" nillable="true" type="tns:UnemployedEmploymentModel" />
  <xs:complexType name="ReceiveAttorneyInvoiceProcessModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReceiveThirdPartyInvoiceProcessModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReceiveAttorneyInvoiceProcessModel" nillable="true" type="tns:ReceiveAttorneyInvoiceProcessModel" />
  <xs:complexType name="ReceiveThirdPartyInvoiceProcessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailSubject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContentAsBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceFileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveThirdPartyInvoiceProcessModel" nillable="true" type="tns:ReceiveThirdPartyInvoiceProcessModel" />
  <xs:complexType name="ApplicantFixedLongTermLiabilityModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantFixedLongTermLiabilityModel" nillable="true" type="tns:ApplicantFixedLongTermLiabilityModel" />
  <xs:complexType name="ApplicantFixedPropertyAssetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantFixedPropertyAssetModel" nillable="true" type="tns:ApplicantFixedPropertyAssetModel" />
  <xs:complexType name="ApplicantLiabilityLoanModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantLiabilityLoanModel" nillable="true" type="tns:ApplicantLiabilityLoanModel" />
  <xs:complexType name="ApplicantLiabilitySuretyModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantLiabilitySuretyModel" nillable="true" type="tns:ApplicantLiabilitySuretyModel" />
  <xs:complexType name="ApplicantLifeAssuranceAssetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantLifeAssuranceAssetModel" nillable="true" type="tns:ApplicantLifeAssuranceAssetModel" />
  <xs:complexType name="ApplicantListedInvestmentAssetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantListedInvestmentAssetModel" nillable="true" type="tns:ApplicantListedInvestmentAssetModel" />
  <xs:complexType name="ApplicantOtherAssetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantOtherAssetModel" nillable="true" type="tns:ApplicantOtherAssetModel" />
  <xs:complexType name="ApplicantUnListedInvestmentAssetModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApplicantAssetLiabilityModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicantUnListedInvestmentAssetModel" nillable="true" type="tns:ApplicantUnListedInvestmentAssetModel" />
</xs:schema>