dev/Legacy/Services/SAHL.Batch.Service/SAHL.Batch.Service/Service References/CapitecService/Capitec.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Capitec" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SAHL.Web.Services.Internal/Capitec.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SAHL.Web.Services.Internal/Capitec.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SAHL.Web.Services.Internal/Capitec.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAHL.Services.Capitec.Models.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICapitec_CreateCapitecNewPurchaseApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCapitecNewPurchaseApplication" />
  </wsdl:message>
  <wsdl:message name="ICapitec_CreateCapitecNewPurchaseApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCapitecNewPurchaseApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ICapitec_CreateCapitecSwitchLoanApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCapitecSwitchLoanApplication" />
  </wsdl:message>
  <wsdl:message name="ICapitec_CreateCapitecSwitchLoanApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCapitecSwitchLoanApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICapitec">
    <wsdl:operation name="CreateCapitecNewPurchaseApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICapitec/CreateCapitecNewPurchaseApplication" message="tns:ICapitec_CreateCapitecNewPurchaseApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICapitec/CreateCapitecNewPurchaseApplicationResponse" message="tns:ICapitec_CreateCapitecNewPurchaseApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCapitecSwitchLoanApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICapitec/CreateCapitecSwitchLoanApplication" message="tns:ICapitec_CreateCapitecSwitchLoanApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICapitec/CreateCapitecSwitchLoanApplicationResponse" message="tns:ICapitec_CreateCapitecSwitchLoanApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICapitec" type="tns:ICapitec">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCapitecNewPurchaseApplication">
      <soap:operation soapAction="http://tempuri.org/ICapitec/CreateCapitecNewPurchaseApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCapitecSwitchLoanApplication">
      <soap:operation soapAction="http://tempuri.org/ICapitec/CreateCapitecSwitchLoanApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Capitec">
    <wsdl:port name="BasicHttpBinding_ICapitec" binding="tns:BasicHttpBinding_ICapitec">
      <soap:address location="http://localhost/SAHL.Web.Services.Internal/Capitec.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>