dev/Legacy/SQL_CLR_Functions/LDAP/CLR.LDAP.Proxy/Web References/LDAPQueryService/LDAPQueryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SAHL.Reporting.WebServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SAHL.Reporting.WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SAHL.Reporting.WebServices/">
      <s:element name="GetFeatureAccessForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SAHLUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeatureAccessForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeatureAccessForUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFeatureAccessForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeatureAccessForUser" />
  </wsdl:message>
  <wsdl:message name="GetFeatureAccessForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeatureAccessForUserResponse" />
  </wsdl:message>
  <wsdl:portType name="LDAPQueryServiceSoap">
    <wsdl:operation name="GetFeatureAccessForUser">
      <wsdl:input message="tns:GetFeatureAccessForUserSoapIn" />
      <wsdl:output message="tns:GetFeatureAccessForUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LDAPQueryServiceSoap" type="tns:LDAPQueryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFeatureAccessForUser">
      <soap:operation soapAction="http://SAHL.Reporting.WebServices/GetFeatureAccessForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LDAPQueryServiceSoap12" type="tns:LDAPQueryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFeatureAccessForUser">
      <soap12:operation soapAction="http://SAHL.Reporting.WebServices/GetFeatureAccessForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LDAPQueryService">
    <wsdl:port name="LDAPQueryServiceSoap" binding="tns:LDAPQueryServiceSoap">
      <soap:address location="http://syss15/SAHL.Reporting.WebServices/Services/LDAPQueryService.asmx" />
    </wsdl:port>
    <wsdl:port name="LDAPQueryServiceSoap12" binding="tns:LDAPQueryServiceSoap12">
      <soap12:address location="http://syss15/SAHL.Reporting.WebServices/Services/LDAPQueryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>