dev/Services/DomainProcessManager/DomainProcessManager.Shared/SAHL.Config.Services.DomainProcessManager.Client/Service References/DomainProcessManagerWcfService/DomainProcessManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAHL.Services.Interfaces.DomainProcessManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAHL.Services.Interfaces.DomainProcessManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StartDomainProcessCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataModel" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:StartDomainProcessResponse" />
      <xs:element minOccurs="0" name="StartEventToWaitFor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartDomainProcessCommand" nillable="true" type="tns:StartDomainProcessCommand" />
  <xs:complexType name="StartDomainProcessResponse">
    <xs:sequence>
      <xs:element name="_x003C_Data_x003E_k__BackingField" nillable="true" type="xs:anyType" />
      <xs:element name="_x003C_Result_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartDomainProcessResponse" nillable="true" type="tns:StartDomainProcessResponse" />
</xs:schema>